.dVlVEa {
    display: block;
    width: 100%;
    background: white;
    border-top: 1px solid rgb(229, 227, 218);
}
.ePWTnE {
    display: block;
    padding: 10px;
    margin: 3em 0px 0px;
}
.HZkck {
    display: block;
    max-width: 1080px;
    margin: 0px auto;
    padding: 10px;
}
.ePWTnE {
    display: block;
    padding: 10px;
    margin: 3em 0px 0px;
}
.ePWTnE h1 {
    font-size: 48px;
    padding-bottom: 15px;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    max-width: 500px;
}
.hVeoTy {
    display: block;
    width: 100%;
    background:white;
    border-bottom: 1px solid rgb(229, 227, 218);
}
.hVeoTy {
    display: block;
    width: 100%;
    background: rgb(248, 245, 238);
    border-bottom: 1px solid rgb(229, 227, 218);
}
.gcujGI {
    display: block;
    max-width: 1080px;
    margin: 0px auto 3em;
    padding: 10px;
}
.gcujGI p {
    padding: 10px;
    font-family: var(--sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.9);
}